body {
  font-family: "Roboto";
  color: #212121;
}
button {
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-size: 16px;
}
.color-inehrit {
  color: inherit;
}
.lorem-ipsum {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style-type: none;
}
.web-footer {
  margin-bottom: 161px;
  margin-left: 215px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 67;
  text-decoration: none;
  color: #ffffff;
}
.web-header {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 2, 8;
}
.span {
  color: #2196f3;
}
.footer {
  list-style-type: none;
  color: #ffffff;
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
  text-decoration: none;
}
.footer:hover {
  text-decoration: underline;
}
.underline-none {
  text-decoration: none;
}
.address {
  margin-left: 215px;
  margin-bottom: 60px;
}
.header {
  text-decoration: none;
  list-style-type: none;
  margin-left: 215px;
  display: flex;
}
.header:hover {
  text-decoration: underline;
  color: #2196f3;
}
.link-color {
  color: #757575;
  text-decoration: none;
}
.link-color:focus {
  text-decoration: underline;
}
.link-color:hover {
  text-decoration: underline;
}
.effect {
  color: #ffffff;
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 33;
  text-align: center;
  padding-top: 200px;
}
.effect-size {
  font-weight: 900;
  font-size: 44px;
  line-height: 0, 67;
}
.h2 {
  font-size: 36px;
  line-height: 2, 24;
  text-align: center;
  color: inherit;
}
.workers-size {
  font-size: 16px;
}
.p {
  font-size: 14px;
  line-height: 4, 25;
  color: #757575;
}
.lorem-ipsum {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style-type: none;
}
.p-size {
  font-size: 16px;
  line-height: 11, 68;
  color: #757575;
}
.h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 83;
  color: inherit;
}
.h3-size {
  font-weight: 500;
  font-size: 16px;
  line-height: 12, 16;
}
